@use "/src/styles/variables.scss" as *;

.layout-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-canvas;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

:global(html.menu-open) {
  overflow: hidden;
}

.content {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}
