@use "sass:color";

$color-core: #4d94ff;
$color-highlight: #2de2e6;
$color-interaction: #ff4d94;
$color-spark: #94ff4d;
$color-base: #1e1e1e;
$color-canvas: #0f0f0f;
$color-critical: #ef4444;

// useful defaults
$color-default: color.adjust($color-base, $lightness: 10%);
$color-text: #ffffff;

// sizes
$header-height: 50px;
$side-menu-width: 85vw;
