@use "/src/styles/variables.scss" as *;

.timeline {
    background: linear-gradient(145deg, $color-canvas, #080808);
    margin: 3rem auto;
    height: auto;
    color: $color-text;
    padding: 1.5rem 0;
    font-size: 2rem;
    overflow: scroll;
}

.timeline-header {
    margin: 0 auto;
    padding: 0 1rem;
}

@media (orientation: landscape) and (min-width: 768px) {
    .timeline {
        grid-column: 1 / 3;
    }
}
