.container {
    padding: 3rem;
    overflow: scroll;
    width: auto;
    height: fit-content;
}

#gantt {
    width: fit-content;
    height: fit-content;
    overflow: visible;
    stroke: none;

    .date-rect {
        stroke: #4d94ff;
    }

    text {
        font-weight: bold;
    }

    .tooltip {
        pointer-events: none;
    }

    .proj-bar {
        cursor: help;
    }
}
