@use "/src/styles/variables.scss" as *;
@use "sass:color";

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 50px;
  width: $side-menu-width;
  height: 100vh;
  position: fixed;
  top: -($header-height);
  right: -($side-menu-width);
  background: rgba($color-canvas, 0.95);
  backdrop-filter: blur(10px);
  padding: 0 1rem 0 3rem;
  z-index: 1;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow: visible;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    gap: 10px;
    padding-top: $header-height;
    margin-top: 10px;
  }

  ul li {
    background: linear-gradient(
      to left,
      $color-default,
      color.adjust($color-default, $lightness: -10%)
    );
    border-radius: 10px;
    padding: 1rem;
    margin-right: 1rem;
    text-align: right;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: linear-gradient(
        to left,
        color.adjust($color-interaction, $lightness: -30%),
        $color-interaction
      );
      transform: scale(1.05);
    }

    &:last-child:hover {
      background: linear-gradient(
        to left,
        color.adjust($color-core, $lightness: -30%),
        $color-core
      );
    }
  }

  a {
    color: $color-text;
  }

  &.open {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
