@use "/src/styles/variables.scss" as *;
@use "sass:color";

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin-top: 50px;
  width: 85dvw;
  height: 100dvh;
  font-size: 1rem;

  position: fixed;
  top: -(50px);
  right: -(85dvw);

  background: rgba($color-canvas, 0.9);
  backdrop-filter: blur(10px);
  padding: 0 1rem 0 3rem;
  z-index: 1;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow-y: scroll;
  overflow-x: hidden;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    gap: 10px;
    padding-top: 50px;
    margin-top: 10px;

    li {
      background: linear-gradient(to left, $color-core, $color-highlight);
      padding: 1rem;
      margin-right: 1rem;
      text-align: right;
      font-weight: bold;
      font-size: 2em;
      cursor: pointer;
      line-height: 3;

      &:hover {
        transform: scale(1.03);
        cursor: pointer;
      }

      &.blog {
        background: linear-gradient(to left, $color-base, $color-disabled);
        pointer-events: none;
      }
    }
  }

  a {
    color: $color-text;
  }

  &.open {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
