@use "../../styles/variables" as *;

.layout-wrapper {
  position: relative;
}

.menu-open {
  opacity: 0.3;
  pointer-events: none;
}

.content {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background: $color-background;
}
