/* variables */
:root {
  --primary: #f70d1a;
  --secondary: #006400;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: black;
  height: 50vh;
  width: 50vw;
  text-align: center;
  font-size: 0.5rem;
}

.card-image img {
  width: 50%;
}

.card-content {
  color: white;
  padding: 15px;
}

.card-title {
  color: white;
  // font-size: clamp(1.5rem, 5vw, 3rem); 
  font-size: 100px; 
}

.card-subtitle {
  color: lightgrey;
  font-size: 1rem;;
}
