@use "../../styles/variables" as *;
@use "sass:color";

.big-header {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 0.5rem;
  margin: 1rem auto 0 auto;
  width: 70dvw;
  height: fit-content;

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    aspect-ratio: 5 / 1;
    background: linear-gradient(
      to bottom right,
      $color-default,
      color.adjust($color-default, $lightness: 30%),
    );

    .hero-image {
      width: auto;
      height: 100px;
      aspect-ratio: 1 / 1;
      align-self: center;
    }
  }

  .nav-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5dvw;
    width: 100%;
    height: auto;
    background: linear-gradient(
      to top,
      $color-canvas,
      color.adjust($color-canvas, $lightness: -50%)
    );

    & > a {
      color: $color-text;
      font-weight: bold;
      font-size: clamp(1rem, 1.5vw, 2rem);

      &:hover {
        color: $color-interaction;
      }
    }
  }
}
