@use "../../styles/variables" as *;

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: $header-height;
  padding: 0 1rem;
  z-index: 100;

  a {
    display: flex;
    width: 50px;
    height: inherit;

    .hero-image {
      width: auto;
      height: 80%;
      aspect-ratio: 1 / 1;
      align-self: center;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 100%;
    z-index: 2;

    .link-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      width: 100%;

      a {
        width: fit-content;
        color: $color-secondary;
        font-weight: bold;
      }
    }

    /* 🍟 */
    .batatas {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 2em;
      height: 1.5em;
      cursor: pointer;
      color: $color-primary;

      span {
        display: block;
        height: 3px;
        background: currentColor;
        border-radius: 10px;
        padding: 1px 0;

        &:nth-child(1),
        &:nth-child(3) {
          width: inherit;
        }

        &:nth-child(2) {
          width: 1.5em;
          align-self: flex-end;
        }
      }
    }
  }
}
