@use "../../styles/variables" as *;

.small-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: $header-height;
  padding: 0 1rem;
  z-index: 100;

  .hero-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: inherit;

    .hero-image {
      width: auto;
      height: 80%;
      aspect-ratio: 1 / 1;
      align-self: center;
    }
  }

  .batatas-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;

    /* 🍟 */
    .batatas {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 2em;
      height: 1.5em;
      cursor: pointer;
      color: $color-primary;

      .batatinhas {
        display: block;
        height: 3px;
        background: currentColor;
        border-radius: 10px;
        padding: 1px 0;

        &:nth-child(1),
        &:nth-child(3) {
          width: inherit;
        }

        &:nth-child(2) {
          width: 1.5em;
          align-self: flex-end;
        }
      }
    }
  }
}
