@use "../../styles/variables" as *;

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 50px;
  width: $side-menu-width;
  height: 100vh;
  position: fixed;
  top: -($header-height);
  right: -($side-menu-width);
  background: rgba($color-surface,0.5);
  backdrop-filter: blur(10px);
  padding: 0 1rem 0 3rem;
  border-left: 1px solid $color-border;
  z-index: 100;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow: visible;

  /* 🍟 */
  .batatas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 15px;
    right: 85px;
    width: 2em;
    height: 1.5em;
    cursor: pointer;
    color: $color-link;

    span {
      display: block;
      height: 3px;
      background: currentColor;
      border-radius: 1rem;
      padding: 1px 0;

      &:nth-child(1),
      &:nth-child(3) {
        width: inherit;
      }

      &:nth-child(2) {
        width: 1.5em;
        align-self: flex-end;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    gap: 10px;
    padding-top: 1rem;
  }

  ul li {
    background: linear-gradient(to left, $color-surface, $color-background);
    border: 1px solid $color-border;
    border-radius: 1rem;
    padding: 1rem;
    text-align: right;
    font-weight: bold;

    &:last-child {
      background: linear-gradient(to left, $color-heading, $color-link);
    }

    &:hover {
      border: 1px solid $color-hover;
      transform: scale(1.1);
    }
  }

  a {
    color: $color-text;
  }

  &.open {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
