@use "/src/styles/variables.scss" as *;
@use "sass:color";

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    color: $color-text;

    max-height: fit-content;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1em;

    a,
    summary {
        color: $color-text;
        font-weight: bold;
        font-size: 26.67px;
    }

    a {
        &:hover {
            border-bottom: 3px solid $color-text;
        }
    }
}

.card-intro {
    :nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
    }
}

.dialog-open-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.dialog-open-symbol {
    fill: none;
    stroke: $color-text;
    stroke-width: 2px;
    width: inherit;
    height: inherit;
}

.dialog-close-button {
    margin-left: auto;
    align-self: start;

    &:hover {
        transform: scale(1.1);
    }
}

.dialog-close-symbol {
    font-size: 2em;
    color: rgba($color-text, 0.7);
    cursor: pointer;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
}

.project-content {
    display: none;
    flex-direction: column;
    gap: 3rem;
    font-size: 2em;
    max-width: 90dvw;
    max-height: 90vh;
    margin-inline: auto;
    margin-block: auto;
    padding-bottom: 1rem;
    background-color: $color-canvas;
    border: none;
}

.project-header-container {
    position: sticky;
    top: 0;
}

.project-header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    position: relative;
    background: $color-canvas;

    summary {
        margin-left: auto;
        font-size: 2em;
        color: rgba($color-text, 0.8);
    }
}

.project-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    border-width: 0;
    padding: 1.5em;
}

.stack-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-inline: auto;

    i {
        font-size: 3em;
    }
}

.project-text {
    color: $color-text;
    font-size: 1em;
    padding-inline: 10dvw;
}

.project-images {
    width: 100%;
    height: 100%;
    padding-inline: 10dvw;
}

@media (orientation: landscape) and (min-width: 768px) {
    .card {
        width: fit-content;
    }

    .card-intro {
        margin: 0 5rem;
    }

    .project-content {
        max-width: 80dvw;
        max-height: 80vh;
    }
}
