.container {
    padding: 3rem;
    overflow: scroll;
    width: auto;
    height: fit-content;
    /* outline: 1px solid blue; */

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

#gantt {
    width: fit-content;
    height: fit-content;
    /* outline: 1px solid green; */
    stroke: none;

    .date-rectangle {
        stroke: #4d94ff;
    }

    text {
        font-weight: bold;
    }

    .tooltip {
        pointer-events: none;
    }

    .project-bar {
        cursor: help;
    }
}
