.container {
    padding: 3rem;
    overflow: scroll;
    width: auto;
    height: fit-content;
}

#gantt {
    width: fit-content;
    height: fit-content;
    stroke: none;
    overflow: scroll;

    .date-cell {
        outline: 1px solid black;
    }

    text {
        color: white;
        font-size: 3rem;
        /* font-size: 10rem; */
        font-weight: bold;
    }

    .tooltip {
        pointer-events: none;
    }

    .project-bar {
        cursor: help;
    }
}
