@use "/src/styles/variables.scss" as *;

.timeline {
  background: linear-gradient(145deg, $color-canvas, #080808);
  margin: 3rem auto;
  width: 90dvw;
  height: auto;
  max-height: 90vh;

  color: white;

  padding: 1.5rem 0;
  font-size: 2rem;
  overflow-y: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.timeline-header {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (orientation: landscape) and (min-width: 768px) {
  .timeline {
    width: 70dvw;
    height: 100vh;
  }
}
