.container {
    padding: 3rem;
    overflow: scroll;
    width: auto;
    height: fit-content;
    outline: 1px solid blue;
}

#gantt {
    width: fit-content;
    height: fit-content;
    outline: 1px solid green;
    stroke: none;

    .date-rectangle {
        stroke: red;
    }

    text {
        font-weight: bold;
    }

    .tooltip {
        pointer-events: none;
    }

    .project-bar {
        cursor: help;
    }
}
