.container {
    padding: 3rem;
    overflow: scroll;
    width: auto;
    height: fit-content;
}

#gantt {
    width: auto;
    height: fit-content;
    stroke: none;
    overflow: scroll;

    .date-container {
        outline: 1px solid black;
    }

    text {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .tooltip {
        pointer-events: none;
    }

    .project {
        cursor: help;
    }
}
