@use "../../styles/variables" as *;
@use "sass:color";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5dvw;

  & * {
    color: $color-text;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    & > figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > img {
        width: 100px;
        height: 100px;
        height: fit-content;
      }

      .caption-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > span {
          font-size: 15px;

          strong {
            color: $color-secondary;
          }
        }
      }
    }
  }

  .footer-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    padding: 0 5dvw;
    gap: 1rem;
    font-size: clamp(0.8rem, 1vh, 1.6rem);

    & a,
    span {
      color: color.adjust($color-text, $lightness: -20%);
    }

    %shared-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .nav-container {
      @extend %shared-container;
      grid-row: 1;
      grid-column: 1;
    }

    .social-container {
      @extend %shared-container;
      grid-row: 1;
      grid-column: 2;

      .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;

        & > svg {
          width: 1rem;
          height: 1rem;
          stroke: color.adjust($color-text, $lightness: -20%);
        }
      }
    }

    h2 {
      font-size: clamp(1rem, 3vh, 3rem);
      font-weight: bold;
    }
  }

  .footer-line {
    width: 85dvw;
    height: 1px;
    background-color: color.adjust($color-danger, $lightness: -30%);

    &:first-of-type {
      background-color: $color-border;
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    padding: 0 5dvw 1dvh 5dvw;
    color: $color-text;

    & > span:first-child {
      margin-bottom: 10px;
      font-size: 10px;
    }

    & > span:nth-child(2) {
      font-size: 10px;
    }
  }
}
