@use "/src/styles/variables.scss" as *;
@use "sass:color";

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    color: $color-text;

    max-height: fit-content;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 1em;

    summary {
        color: $color-text;
        font-weight: bold;
        font-size: 20px;
    }
}

.card-intro {
    :nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
    }
}

.dialog-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dialog-symbol {
    fill: none;
    stroke: $color-text;

    width: inherit;
    height: inherit;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
}

.project-content {
    display: none;
    flex-direction: column;
    gap: 1rem;
    font-size: 2em;
    max-width: 90dvw;
    max-height: 90vh;
    margin-inline: auto;
    margin-block: auto;
    background-color: $color-canvas;
}

.project-header-container {
    position: sticky;
    top: 0;
}

.project-header {
    position: relative;
    padding: 1rem;
    background: $color-canvas;

    summary {
        font-size: 2em;
    }
}

.project-stack,
.project-text,
.project-images {
    padding: 1rem;
}

.project-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    border-width: 0;
    padding: 1.5em;
}

.stack-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;

    i {
        font-size: 3em;
    }
}

.project-text {
    color: $color-text;
    font-size: 1em;
}

.project-images img {
    width: 50%;
    height: 50%;
}

@media (orientation: landscape) and (min-width: 768px) {
    .card {
        width: fit-content;
    }

    .card-intro {
        margin: 0 5rem;
    }

    .project-content {
        max-width: 80dvw;
        max-height: 80vh;
    }
}
