@use "/src/styles/variables.scss" as *;
@use "sass:color";

$navlink-color: #616262;
$color-canvas-shade: #080808;

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100dvw;
  padding: 0 5dvw;
  font-size: 1.5rem;

  & * {
    color: $color-text;
  }
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  white-space: nowrap;
  padding: 1rem 0;
}

.footer-top {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  &>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>svg {
      width: 100px;
      height: 100px;
    }

    .caption-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;

      &>figcaption {
        white-space: pre-line;

        &>em strong {
          color: $color-spark;
          cursor: help;
        }
      }
    }
  }
}

.footer-middle {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  justify-items: start;
  align-items: start;

  width: 100%;
  gap: clamp(1rem, 5vw + 1rem, 5rem);

  h2 {
    color: $color-text;
    font-size: 1.5em;
  }

  & a,
  span {
    color: $navlink-color;
  }

  .nav-container {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    h2 {
      width: 100%;
    }
  }

  .social-container {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    h2 {
      width: 100%;
    }

    div:last-of-type {
      pointer-events: none;
    }
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 0.5rem;

  font-size: 1.25em;

  &>svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
  }

  &:hover {
    background: $color-interaction;

    * {
      color: $color-text;
      stroke: $color-text;
    }
  }
}

.blog-link {
  pointer-events: none;
  background: none;
  color: $navlink-color;
}

.footer-fancy-divider {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 90dvw;

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: $color-base;
  }

  &>svg {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    $eye-color: $color-base;

    path {
      stroke: $eye-color;

      &[fill-rule] {
        fill: $eye-color;
      }
    }
  }
}

.footer-simple-divider {
  width: 90dvw;
  height: 1px;
  background-color: $color-critical;

  &:first-of-type {
    background-color: $color-base;
  }

  &:nth-child(2) {
    display: none;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 5dvw;
  font-size: 0.75em;

  span {
    color: color.adjust($color-default, $lightness: 20%);

    b {
      color: color.adjust($color-default, $lightness: 30%);
    }
  }
}

svg {
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  stroke: $navlink-color;
}

@media (orientation: landscape) or (min-width: 768px) {
  footer {
    width: 90dvw;
    align-items: center;
    margin: 0 auto;

    .footer-main {
      flex-direction: row;
      gap: clamp(1rem, 2vw + 1rem, 10rem);

      .footer-top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        margin-bottom: 0;
        padding: 0;
        width: 100%;

        &>figure {
          flex-direction: row;

          .caption-container {
            flex-direction: row;
            align-items: flex-end;
          }
        }
      }

      .footer-middle {
        padding: 1rem 0;
        gap: clamp(5rem, 5vw + 5rem, 20rem);

        h2 {
          font-size: 1em;
        }
      }
    }

    .icon-container {
      font-size: 0.75em;
    }

    .footer-simple-divider {
      display: inline;
      width: 90dvw;
    }
  }
}
