/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
}

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
