/* truly global resets and styles must be put here, not in Layout.module.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin: 0.75em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}
