@use "/src/styles/variables.scss" as *;
@use "sass:color";

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;

  width: 90dvw;
  height: fit-content;
  margin: 3rem auto;
}

@media (orientation: landscape) and (min-width: 768px) {
  .projects {
    width: 70dvw;
  }
}
