.image-container {
    display: flex;
    margin-inline: auto;
    width: 70dvw;
    height: 30vh;
    padding: 1rem;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image {
    list-style-type: none;
    background-color: #0f0f0f;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}


@media (orientation: landscape) and (min-width: 768px) {
  .image-container {
    height: 60vh;
  }
}
