.tip {
    color: #94ff4d;
    font-size: 75%;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin-inline: auto;
    align-items: center;

    button {
        font-size: 3rem;

        &:disabled {
            opacity: 0.3;
        }
    }
}

.image-container {
    display: flex;
    width: fit-content;
    height: 30vh;
    gap: 4vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.image {
    list-style-type: none;
    background-color: #0f0f0f;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
