@use "/src/styles/variables.scss" as *;
@use "sass:color";

$color-canvas-shade: #0a0b0b;

.stack {
  $color-core-tone: #5c8ed9;
  $color-highlight-tone: #46c5c7;

  background: radial-gradient(circle,
      rgba($color-core-tone, 0.15) 30%,
      rgba($color-highlight-tone, 0.15) 70%,
      rgba($color-canvas-shade, 0.7) 90%);

  color: $color-text;
  height: fit-content;
  max-height: 90vh;
  width: 90dvw;
  margin: 3rem auto;
  padding: 1.5rem;
  border: 1px solid $color-canvas-shade;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 2rem;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.stack-header {
  margin: 0 auto;
  width: 90%;
  padding: 0 1rem;
}

.stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 2rem;
  margin-top: 1rem;
  overflow-y: visible;
  font-size: 1em;

  i {
    padding-right: 0.5rem;
    font-size: 1em;
  }
}

.stack-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}

@media (orientation: landscape) and (min-width: 768px) {
  .stack {
    width: 70dvw;
  }

  .stack-list {
    padding: 3rem;
  }
}
