@use "/src/styles/variables.scss" as *;
@use "sass:color";

.stack {
  background: linear-gradient(145deg, $color-canvas, #080808);

  color: $color-text;
  height: fit-content;
  margin: 3rem auto;
  padding: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 2rem;
}

.stack-header {
  margin: 0 auto;
  width: 90%;
  padding: 0 1rem;
}

.stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 2rem;
  margin-top: 1rem;
  overflow-y: visible;
  font-size: 1em;

  i {
    padding-right: 0.5rem;
    font-size: 1em;
  }
}

.stack-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}

@media (orientation: landscape) and (min-width: 768px) {
  .stack-list {
    padding: 3rem;
  }
}
